:root {
    --primary: #098ECC;
    --primary-border: #5687c5;
    --primary-bg: #f3fbfd;
    --grey-bg: rgba(0,0,0,.02);
    --text-primary-color: #171b2a;
    --text-secondary-color: #666;
    --text-disable-color: #9e9e9e;
    --text-white-primary-color: #fff;
    --text-white-secondary-color: #e9ebf1;
    --text-placeholder-color: #6e6a67;
    --text-blue-color: #098ECC;
    --text-red-color: #B90202;
    --text-green-color: #75CD37;
    --text-error: #f75010;
    --input-normal-border-color: #e0e0e0;
    --input-active-border-color: #27b7f8;
    --input-hover-border-color: #27b7f8;
    --input-disable-border: #e1e1e1;
    --input-disable-bg-color: #f1f5f9;
    --input-error-border-color: #e61d1d;
    --combobox-highlight-bg-color: #f3fbfd;
    --combobox-highlight-bg-2-color: #f3fbfd;
    --combobox-highlight-color: #27b7f8;
    --combobox-color: #000;
    --tab-color: #27b7f8;
    --tab-bg: #27b7f8;
    --tab-border: #27b7f8;
    --button-icon-bg-hover: #eff1f6;
    --button-icon-bg-press: #e8eaef;
    --button-icon-bg-hover2: #dadce3;
    --button-icon-bg-press2: #c5c9d2;
    --button-icon-bg-hover3: #bff2da;
    --button-icon-bg-press3: #aaeece;
    --button-primary-color: #fff;
    --button-primary-normal-bg-color: #27b7f8;
    --button-primary-normal-border-color: #27b7f8;
    --button-primary-hover-bg-color: #1180b2;
    --button-primary-hover-border-color: #1180b2;
    --button-primary-active-bg-color: #1180b2;
    --button-primary-active-border-color: #1180b2;
    --button-primary-disabled-color: hsla(0,0%,100%,0.6);
    --button-primary-disabled-bg-color: #27b7f8;
    --button-primary-disabled-border-color: #27b7f8;
    --button-primary-focus-bg-color: #1180b2;
    --button-primary-focus-border-color: #1180b2;
    --button-primary-grey-bg-color: #666;
    --button-primary-grey-hover-color: #555;
    --grid-loading-color: 52,176,87;
    --grid-row-hover-bg: #eff1f6;
    --grid-border: #e7e9f0;
    --grid-header-bg-dark: #e8eaef;
    --dropdown-item-hover: #eff1f6;
    --dropdown-item-active-color: #25b973;
    --date-picker-active-bg: #27b7f8;
    --date-picker-range-bg: #f3fbfd;
    --date-picker-hover-bg: #f3fbfd;
    --date-picker-color-today: #27b7f8;
    --combobox-selected-bg: #e6e8ed;
    --icon-default-color: #686c7b;
}


